html {
  background: url(image.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
}
body {
  font-family: Helvetica, Arial, Sans-Serif;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

#content {
  color: white;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
}

